body{
    background: url( "https://static.timesofisrael.com/www/uploads/2021/10/iStock-962366210.jpg") no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
}
.class {
    background-color: rgb(5, 45, 113);
    border: 5px solid; margin: 20px; 

}

.comment {
    color: rgba(0, 26, 255, 0.747);
background-color: #333;
text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
    border: 5px solid; margin: 20px
}